*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #090c31;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color:  #15173c;
    color: white;
    display: grid;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
}

.pantalla{
    grid-column: 1/5;

}